<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/layout.css">
    
    <script src="js/inicio.js" defer></script>
    <title>Inicio || Sistema de Administración Bolsa de Trabajo || TESE</title>
</head>
<body class="body">
    <header class="header">
        <h1>Inicio || Sistema de Administración Bolsa de Trabajo || TESE</h1>
    </header>
    <main class="main">
        <p href="/login" class="ejemplo p1">EJEMPLO</p>

    </main>
    <footer class="footer">
        <p class="footer_p footer_p1">Tecnológico de Estudios Superiores de Ecatepec</p>
        <p class="footer_p footer_p2">Centro de Gestión Tecnológica e Incubadora de Empresas</p>
        <small class="footer_p footer_p3">Cano R. Edgar I., Hernández R. Yesenia</small>
    </footer>
</body>
</html>